---
import FormattedDate from '@components/FormattedDate.astro';
import BaseLayoutProvider from '@layouts/BaseLayoutProvider.astro';
import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<BaseLayoutProvider>
  <section>
    <ul>
      {
        posts.map((post) => (
          <li>
            <a href={`/blog/${post.slug}/`}>
              <img
                width="auto"
                height="auto"
                src={post.data.heroImage}
                alt=""
              />
              <h4 class="font-extrabold mt-4 text-xl">{post.data.title}</h4>
              <p class="date">
                <FormattedDate date={post.data.pubDate} />
              </p>
            </a>
          </li>
        ))
      }
    </ul>
  </section>
</BaseLayoutProvider>
